
<div id="bg">
  <img src="https://stylewatch.files.wordpress.com/2016/04/giphy.gif" alt="">
</div>

<div class="mdl-cell mdl-cell--6-col">
  <div style="padding-top: 20%; padding-left: 20px;">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div style="padding: 50px 50px 50px 50px;">
          <h1>Welcome to thatStyle</h1>
          <h4>A place where potential seeker and stylist can link together on something that
          they love....a new look....a new STYLE!</h4>
        </div>
      </div>
    </div>
</div>
